.contactos-container {
  position: relative; /* Necesario para que el botón 'Restart-button' se posicione en relación con su contenedor */
  width: 100%;
  max-width: 1000px; 
  margin: auto; 
  padding: 20px;
  box-sizing: border-box;
}

.header-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #EDEDED; 
}

.title {
  font-size: 20px;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.menu {
  position: relative;
  top: 0;
  right: 0;
}

.menu .MuiFab-primary {
  background-color: transparent !important; 
  box-shadow: none !important; 
}

.menu .MuiSpeedDial-fab {
  width: 36px;
  height: 36px;
}

.menu .MuiFab-primary:before {
  content: '⋮'; 
  font-size: 24px;
  color: #EDEDED; 
}

.search-contact {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: #2A2F32;
  color: #EDEDED;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}

.search-contact:focus {
  outline: none;
}
.perfil-button{
  display: flex;
  justify-content: center;
  background-color: #3f3d3d;
  padding: 10px;
  cursor: pointer;
  position: relative;

}

.options{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:5px;
}

.tuerca{
  padding: 5px;
  cursor: pointer;
}

.options .list{
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: rgba(243, 240, 240, 0.452);
  padding: 10px;
  border-radius: 10px 0 10px 10px;

}

.logout-button{
  display: flex;
  background-color: #cf0707;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
}

.restart-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: #555;
  position: absolute; /* Permite posicionar el botón fuera del flujo normal del documento */
  bottom: 20px; /* Espacio desde el borde inferior */
  right: 20px; /* Espacio desde el borde derecho */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para agregar profundidad */
}

.restart-button:hover {
  background-color: #444;
}

@media (max-width: 1200px) {
  .contactos-container {
    max-width: 900px;
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .contactos-container {
    max-width: 750px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .contactos-container {
    max-width: 600px;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .options .list{
    position: relative;
    background-color: transparent;
    padding: 10px;
    border-radius: 0;
    top:0;
    right: 0;
    display: block;
  }
  .tuerca{
    display: none;
  }
}

@media (max-width: 576px) {
  .contactos-container {
    max-width: 450px;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .contactos-container {
    max-width: 320px;
    padding: 5px;
  }
}
